/* @override 
	http://127.0.0.1:9000/styles/main.css
	http://localhost:9090/styles/main.css
@import url('bootstrap.css');
*/

.cms-themes .theme img{

	opacity: .8;
}
.cms-themes .theme img:hover,
.cms-themes .theme.selected img{
	opacity: 1;
}

.ng-hide{
	display:none !important;
}

/* @group Global */

html { overflow-x: hidden; }

body { background: #fefefe; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;
	padding-top: 70px;
}

.navbar-inverse { border-bottom: 1px solid #444; }

footer { padding: 30px 0; font-size: .8em; color: #777; text-align: center; }

.feature { margin: 5px 10px; }

.hero-unit { margin: 50px auto 0 auto; width: 300px; font-size: 18px; font-weight: 200; line-height: 30px; background-color: #eee; border-radius: 6px; padding: 60px; overflow: hidden; }

.hero-unit h1 { font-size: 60px; line-height: 1; letter-spacing: -1px; }


.login-view{
   max-width: 300px; 
   margin: 55px auto;
}

/* @end */

/* @group Sidebar */
.app{
	moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}
.view-animate-container {
  position:relative;
  position:relative;
  min-height:400px;
  overflow: hidden;

  
}
.cms-sidebar-nav.fixed { position: fixed; left: 0; top: 52px; border-radius: 0px; }
.cms-sidebar{
	border-radius:0px;
	position:relative;
	left: -15px;
	moz-transition: width .5s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width .5s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width .5s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width .5s ease-in-out, left 1.5s ease-in-out;
    transition: width .5s ease-in-out, left 1.5s ease-in-out;

}

.cms-sidebar i{
	margin-right: 4px;
}

.cms-sidebar-nav-toggle {
	position: absolute;
	top: 0;
	right: 0;
	
}
.cms-sidebar.closed{
	width: 72px;
	overflow: hidden !important;
	display: block;

}

.cms-sidebar.closed .nav-header span.title {
overflow: hidden;
	display: block;
}
.cms-sidebar.closed li{

}
.cms-sidebar.closed .title,
.cms-sidebar.closed .nav-header .title	{

}

.cms-sidebar-nav li a{
	color: #555;
	display: block;
	overflow: hidden;
	white-space:nowrap;
	
}
.cms-sidebar-nav.well { padding: 0; }

/* @end */

/* @group Sidebar Nav */

.cms-sidebar-nav .nav .nav-header { font-weight: bold; padding: 8px 10px; color: #999; font-size: 11px; text-transform: uppercase; }



.nav .active, .nav > li > a:hover, .nav > li > a:focus { background: #428bca; color: #fff; }
.nav .active a { color: #fff; }

/* @end */

/* @group Widgets Page */

.placeholder { margin: 5px; border: 1px dashed #ccc; color: #999; padding: 10px; background: #eee; border-radius: 4px; }



/* @end */

/* @group Media Page */

.drop-container h4 { font-size: 180%; }

.drop-container { border: 3px dashed #ccc; text-align: center; padding: 55px; color: #999; margin-bottom: 25px; }



/* @end */


/* @group Animation */

.view-animate {
  padding:0px;
  width:100%;
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0px;
}
 .view-animate.ng-enter {left:100%;}
.view-animate.ng-enter.ng-enter-active {left:0;}
.view-animate.ng-leave.ng-leave-active { left:-100%;}
/* Animate CSS */
.animate-if { display: block; }
.animate-if.ng-enter, .animate-if.ng-leave { -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s; transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s; }
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active { opacity: 0; }
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active { opacity: 1; }

/* @end */



/* @group Utility Styles */

.fr { float: right!important; }
.fl { float: right!important; }
.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.center { text-align: center; }
.padding-none { padding: 0 !important }
.padding { padding: 10px !important }
.padding-sm { padding: 5px !important }
.padding-lg { padding: 22px !important }
.padding-top-none { padding-top: 0 !important }
.padding-top { padding-top: 10px !important }
.padding-top-sm { padding-top: 5px !important }
.padding-top-lg { padding-top: 22px !important }
.padding-right-none { padding-right: 0 !important }
.padding-right { padding-right: 10px !important }
.padding-right-sm { padding-right: 5px !important }
.padding-right-lg { padding-right: 22px !important }
.padding-bottom-none { padding-bottom: 0 !important }
.padding-bottom { padding-bottom: 10px !important }
.padding-bottom-sm { padding-bottom: 5px !important }
.padding-bottom-lg { padding-bottom: 22px !important }
.padding-left-none { padding-left: 0 !important }
.padding-left { padding-left: 10px !important }
.padding-left-sm { padding-left: 5px !important }
.padding-left-lg { padding-left: 22px !important }
.margin-none { margin: 0 !important }
.margin { margin: 10px !important }
.margin-sm { margin: 5px !important }
.margin-lg { margin: 22px !important }
.margin-top-none { margin-top: 0 !important }
.margin-top { margin-top: 10px !important }
.margin-top-lg { margin-top: 22px !important }
.margin-top-sm { margin-top: 5px !important }
.margin-right-none { margin-right: 0 !important }
.margin-right { margin-right: 10px !important }
.margin-right-lg { margin-right: 22px !important }
.margin-right-sm { margin-right: 5px !important }
.margin-bottom-none { margin-bottom: 0 !important }
.margin-bottom { margin-bottom: 10px !important }
.margin-bottom-lg { margin-bottom: 22px !important }
.margin-bottom-sm { margin-bottom: 5px !important }
.margin-left-none { margin-left: 0 !important }
.margin-left { margin-left: 10px !important }
.margin-left-lg { margin-left: 22px !important }
.margin-left-sm { margin-left: 5px !important }
.border-left-none { border-left: none !important }
.border-right-none { border-right: none !important }
.border-bottom-none { border-bottom: none !important }
.border-top-none { border-top: none !important }
.display-block { display: block }
.no-underline:hover { text-decoration: none }
.clickable { cursor: pointer }
.strong { font-weight: bold }
.em { font-style: italic }
.small { font-size: 85% }
.no-link { color: #333 }

/* @end */



/* Uploader */
.uploader-dropzone h4 {
  font-size: 180%;
}

.uploader-dropzone {
  border: 2px dashed #ccc;
  text-align: center;
  padding: 55px;
  color: #999;
  margin-bottom: 25px;
  padding: 25px;
  text-align: center;
  color: #bbb;
}

 
.uploader-thumb{
  max-height:450px;
}


.uploader-thumbs li{
  margin:5px;  
  
}
.uploader-thumbs li a{
  text-decoration:none;
  
}
.uploader-thumbs li span{
  text-align:center;
}

.highlight,
.unhighlight {
  max-height:100px;
  max-width:100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin:10px;
}
.highlight {
  border: 5px solid #6f0;
}
.unhighlight {
  border: 5px solid #ccc;
}