node_modules

.tmp
.idea
.grunt
.sass-cache
.editorconfig
.project
app/bower_components
db
www/cms-content/uploads/
dist/.htaccess
coverage/
.DS_Store
atlassian-ide-plugin.xml

dist
.tmp
.sass-cache
app/components

