<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{App.sitetitle}}</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav"> </ul>
		
			<ul class="nav navbar-nav pull-right" ng-if="App.session.user">
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						<img src="https://www.gravatar.com/avatar/b4c0fecb38a48d57acf43350ee318107?s=20" class="img-circle">
						<span>
							{{ App.session.user.name }}
						</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#/profile">My Profile</a>
						</li>
						<li>
							<a href="#/settings">Settings</a>
						</li>
						<li>
							<a href="#/help">Help</a>
						</li>
						<li class="divider"></li>
						<li>
							<a ng-click="App.logout()">Logout</a>
						</li>
					</ul>
				</li>
			</ul>

		<!-- if !App.session.user -->
		<form ng-if="!App.session.user" class="navbar-form navbar-right hidden-sm hidden-xs" ng-submit="App.login(user)">
			<div class="form-group">
				<input type="text" placeholder="Email" class="form-control" ng-model="user.email" required>
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" class="form-control" ng-model="user.password" required>
			</div>
			<button type="submit" class="btn btn-success">
			Sign in
			</button>
		</form> 

		</div><!--/.navbar-collapse -->
	</div>
</div>