
<% layout('layout') -%>
<div class="col-sm-12">
<div class=" slim-view">

	<form id="login-form" class="form-login clearfix well well-sm" action="/login" method="post">
	
		<div class="login-message">
<% if (message) { %>
<p class="alert alert-<%= status %>"><%= message %></p>
<% } %>
		</div>

		<div class="form-group">
			<input name="username" class="form-control" type="text" placeholder="Username" ng-model="user.username" required autofocus>
		</div>
		<div class="form-group">
			<input name="password" class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
		</div>
		<p>
			<label><input type="checkbox" ng-model="user.remember"> Stay signed in </label>
			<span class="pull-right"> <a href="#/forgot-password"> Forgot password? </a> </span>
		</p>
		<button class="btn btn- btn-primary btn-block" type="submit">
			Sign in
		</button>
		<hr/>
		<p class="center">
			<a href="/register">Create an account</a>
		</p>
	</form>

</div>


</div>
