/* @override 
	http://localhost:8080/modules/am-sidetap.css
	http://localhost:8080/modules/ame-directives/am-sidetap.css
*/

/* @group iOS Theme */

header{
		 background: #4B5D7F;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8795AF), color-stop(100%, #4B5D7F));
  background: -webkit-linear-gradient(top, #8795AF, #4B5D7F);
  background: -moz-linear-gradient(top, #8795AF, #4B5D7F);
  background: -o-linear-gradient(top, #8795AF, #4B5D7F);
  background: linear-gradient(top, #8795AF, #4B5D7F);
  border-bottom: 1px solid #191D25;

}
body{
	
	background:#C1C8D0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABRJREFUeNpi/P//PwMWoAYiAAIMAFGnAyUsSIuIAAAAAElFTkSuQmCC') repeat;

}

/* @end */

/* @group iOS6 Theme */

header{
	border-top: 2px solid #cd0211 !important;

	 background: #4B5D7F;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4b4b4b), color-stop(100%, #1d1d1d));
  background: -webkit-linear-gradient(top, #4b4b4b, #1d1d1d) !important;
  background: -moz-linear-gradient(top, #4b4b4b, #1d1d1d);
  background: -o-linear-gradient(top, #4b4b4b, #1d1d1d);
  background: linear-gradient(top, #4b4b4b, #1d1d1d) !important;
 
	 
}
header h1{
	color: #ccc;
	text-shadow: 0px 0px 2px #000;
	font-size: 1.1em;
}
header .header-button.brand{

	background:transparent url(https://www.myappmatrix.com/app/webroot/img/icon-48.png) no-repeat center;
	width: 40px;
}


header .header-button{
	color: #ccc;
	 background: -webkit-linear-gradient(top, #444, #222);
  background: -moz-linear-gradient(top, #444, #222);
  background: -o-linear-gradient(top, #444, #222);
  background: linear-gradient(top, #444, #222);
  border: 1px solid #101010;

}
nav a{
	color: #ccc;
	text-shadow: 0px 0px 2px #000;
}
nav > a:hover{
 	color: #fff;
	text-decoration: none;
}
body{
	
	background:#ebebeb ;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}

/* @end */

/* @group Default Theme */

/*
  Sidetap Default Theme
*/
 
 
.button {
  background: #222;
  color: #fff;
  display: block;
  margin: 0 10px;
  padding: 15px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
img {
  max-width: 100%;
}
.stp-nav {
  
  background: #222;

  width: 272px;
}
nav {
  display: block;
}
nav > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 42px;
  line-height: 40px;
  margin: 0;
  padding: 0 0 0 10px;
  position: relative;
  text-decoration: none;
}
nav > a:hover{
 
  text-decoration: none;
}

nav > a:after {

background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAcCAYAAADm63ZmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0UyRjVGNkY3NzZEMTFFMTk2RkJGRkNEMDZDMkVEQ0YiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0UyRjVGNzA3NzZEMTFFMTk2RkJGRkNEMDZDMkVEQ0YiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RTJGNUY2RDc3NkQxMUUxOTZGQkZGQ0QwNkMyRURDRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RTJGNUY2RTc3NkQxMUUxOTZGQkZGQ0QwNkMyRURDRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvHkzssAAAI0SURBVHjaYvz//z8DCDAyMvICKR8gBtFPgHgXUO4PAwEA1Adnw8yiFDBBDRYAUn5WVlayx48fjxIVFVUE8j2A4iwMAwSEgTjG1dW16uPHj6+Bvv1/7969a0CHZQPFfYGYBRQCuDAywKeOFAwC7gEBAbWfP39+/x8JPHjw4DrUYX5AzEpXR3348MH4x48f7/5jAY8ePbpJyGE0cRSQ2PgfD3j8+PFtGRmZXKCd/kDMRi9HcQLxYXIdRitHwRy2F5/Dnjx5cldJSSkfaHcAssNo6ShSHRYExOz0cBTMYdvxOezZs2f3kR1GD0eBMBshh7148eKBpqZmIdAdwUDMQQ9HwRy2kVSH0dpRRDns1atXj0xNTdOA7uGml6MYzM3NZa5fv34an8P+/v17EUiJUtNRTHhqf4mTJ0+6TpkyBZQj/+Gs0ZmYuEBFBFVrYxxVhxQQJ2VnZ3f8/PnzG56AugHE0jRP6EAgC3JQfn5+169fv34QcJAEzYsEIJAH4pTy8vK+379//8LjoKsgB9G88AQCJZCD6uvrJxLhIFGaVzNAoALEqa2trVOBuek3HgedR3YQLRt5aiAH9fb2ziDVQbR0lMvkyZPn/Pv37y8BBwnRq5HH8ufPH1lgWZMILJdwlVlngdgNiN/Rq9PAwszM7AXr1eBwkDMQf6RrVwYYXMxAvBRLlB0DYn5i4p9WRQK6w4hyEM3SFNS8v0AcB8S/oMWDJxB/GaiOKCOWrjYPKQ6iRbcdIMAACKimRJz12ZQAAAAASUVORK5CYII=)  no-repeat left center;

  content: ' ';
  display: block;
  height: 41px;
  opacity: 0.3;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  right: 0;
  top: 0;
  width: 19px;
  -webkit-background-size: 19px 14px;
  -moz-background-size: 19px 14px;
  -o-background-size: 19px 14px;
  background-size: 19px 14px;
}


nav > a.selected {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: white;
}
nav > a.selected:after {
  opacity: 1;
}



.sidetap header {
   display: block;
  height: 43px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
  
  color:#fff;
}
header .header-button {
  height: 28px;
  left: 5px;
  line-height: 26px;
  padding: 0 8px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  top: 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  -o-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
}
header .header-button.right {
  left: auto;
  right: 5px;
}
header .header-button.icon span {
  display: inline-block;
  text-indent: -9999px;
}
header .header-button.menu span {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAeCAYAAABJ/8wUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NUZGOTBCRjg5Nzk3MTFFMTg5ODVCNDNBRDBBNDIzODIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NUZGOTBCRjk5Nzk3MTFFMTg5ODVCNDNBRDBBNDIzODIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1RkY5MEJGNjk3OTcxMUUxODk4NUI0M0FEMEE0MjM4MiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1RkY5MEJGNzk3OTcxMUUxODk4NUI0M0FEMEE0MjM4MiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pi3KaakAAAC4SURBVHja7JQxCgIxEEVnQhBRCyVYKp7CWyS1eFGPsFptK2nTBrKFFiKb9a9Y2li42WI+vCFFip8JPCaiCZiBKVA0bDJ4gLvGWIMNWAI9cJEWNCDoT4kdWBTayOp9cs4dvPd1zrntCiSEcLXWHjnGeDHG7KlgUko1YxM3Zp6XLILFPBWKnKl8qr7NFpy6cqn6Dozxlyfiu3+6r2gkGU0RFsWL4kXxonhRvCheFC+KF8WL4r8r/iXAAGGda07xz4aLAAAAAElFTkSuQmCC');
  height: 15px;
  margin: 6px 2px 0;
  width: 17px;
  -webkit-background-size: 17px 15px;
  -moz-background-size: 17px 15px;
  -o-background-size: 17px 15px;
  background-size: 17px 15px;
}
header .header-button.info span {

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAhCAYAAAAGcPEMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExOUJFRjgyMEZBMkYzQ0Y1QyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowNjM0MjNFMEI0OTYxMUUxOUQ1NUFFQkExMUE5RDA2QSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowNjM0MjNERkI0OTYxMUUxOUQ1NUFFQkExMUE5RDA2QSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjMxMDBGMzgxQ0MyMDY4MTE4NzFGODgzQzQ1NUM5QzY1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAxODAxMTc0MDcyMDY4MTE5QkVGODIwRkEyRjNDRjVDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+MSHXdgAAAqNJREFUeNqMlE2IUlEYhke9NqNO/hFjlouSigYrawpy1aZJ3PS3Cl1EJBEE7oKW7YvEVWAyq2CgJHCVC5UWgRt1EygomkL+tNAREhX16u09dJQ7du51Png43HvOe77z855PsSYdSnAcnAQWoAM8aIMGOOBkxBpgA3ZgBmowA3raP5TLSjLeCYVCbzudTk1AjEajfiaT+ep2ux+ib0tKTLLYE4nEe4ERhULhk5yYbOfsZDLpscQ8z/8hy1dKiKelUmmH47hNVqdKpSIHOZQSCwaDoSm1LGTeQzOROew1xWw2+8lY9QEwra0KDLoOPlNRBYSPJFxeBb0+xfJPubtep2ZZp2P7FF5KrKICPXWWkdpUAOQQq6A3n12cSUMv/xy4BLapPU/7fL6r1HUalqPMdPBt8Ag8jcViHyuVSnZ+zPl8PkonWMQGmRncBA/Ak1Qq9YX4mOUu9J8Qi8+AW+B+JBJ53e/3fwsygXEGsdjh8Xju1ev1mLAiBoNBHuO1C2U6nXZjiT+EI0S3292nj+ZfwIJJ0jGdTj+0Wq27+HVNStxsNl+Kr5dTKBSv0JrwUpLkxKPR6GMp15TL5SS9b6YFrdlsdo+VFVv7dWi/SyYhe9FaLJaLrJlxWN/RjKXExCg6iJ0sMTLnSJFYLjcLcTgc3lGr1TqWuFarJURJyBZ5sfiYw+G4whKOx+O6y+WqUYMYqbjNiZa/YbVat1niRqPxDc0p+rqImBTAnlK0FK3ZbL7AEqNWt+mjsQWDwfPFYtFNCuA8M+f1ereMRqOdJYY5Zn6/3xYIBC47nc5n9AD35/2b8Xj8uZSzxPUbjuzi+8ahZ1mtVt+t8jaEOVIUl++Z1+v1A7kKCOEbWHkX5P7rHA6HLySykYezu6pGm0BiqUbLiv4KMAAtFU0biYxFsQAAAABJRU5ErkJggg==');
  height: 17px;
  margin: 5px 5px 0;
  width: 8px;
  -webkit-background-size: 8px 17px;
  -moz-background-size: 8px 17px;
  -o-background-size: 8px 17px;
  background-size: 8px 17px;
}

.stp-content {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.stp-content-panel {

}
.container {
  padding: 54px 10px 10px;
}

/* @end */

/* @group Base */

html,
body {
  color:#000;
text-shadow: 0 1px 0 #eeeeee;
  padding: 0;
  margin: 0;
}
.sidetap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.stp-nav {
  color: white;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
  z-index: 5;
}
.stp-content {
  margin-left: 0;
  width: 100%;
  z-index: 10;
  position: relative;
}
.stp-overlay {
  display: none;
  height: 100%;
  left: 0;
  opacity: .0;
  position: absolute;
  top: 0;
  width: 100%;
}
.stp-content-body > * > *:first-child {
  margin-top: 0;
}
.stp-content-body > * > *:last-child {
  margin-bottom: 0;
}
.sidetap.nav-showing .stp-content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}
.sidetap.nav-showing .stp-overlay {
  display: block;
  z-index: 100;
}
.stp-content-panel,
.stp-nav-panel {
  position: relative;
  height: 100%;
}
.stp-content-panel {
  background: white;
}
.stp-content-panel.hidden {
  display: none;
}
.stp-fake-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.ios .sidetap {
  overflow-x: hidden;
}
.ios .stp-content-panel,
.ios .stp-nav-panel {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ios .stp-content-panel.hidden {
  display: block;
  left: -9999px;
}
.ios .stp-content-frame {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.ios .stp-content-body {
  -webkit-transform: translatez(0);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.ios .nav-showing .stp-content .stp-content-body {
  overflow: hidden;
}




/*
  Show Navigation Animation
*/
.showing-nav {
  -webkit-transform: translatex(272px);
  -moz-transform: translatex(272px);
  -webkit-animation-name: slidefornav;
  -moz-animation-name: slidefornav;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
}
@-webkit-keyframes slidefornav {
  from {
    -webkit-transform: translatex(0);
  }
  to {
    -webkit-transform: translatex(272px);
  }
}
@-moz-keyframes slidefornav {
  from {
    -moz-transform: translatex(0);
  }
  to {
    -moz-transform: translatex(272px);
  }
}
/*
  Hide Navigation Animation
*/
.hide-nav {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -webkit-animation-name: slideovernav;
  -moz-animation-name: slideovernav;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
}
@-webkit-keyframes slideovernav {
  from {
    -webkit-transform: translatex(272px);
  }
  to {
    -webkit-transform: translatex(0);
  }
}
@-moz-keyframes slideovernav {
  from {
    -moz-transform: translatex(272px);
  }
  to {
    -moz-transform: translatex(0);
  }
}
/* Slide up or Down animation */
.up-from-bottom {
  -webkit-transform: translatey(0);
  -moz-transform: translatey(0);
  -webkit-animation-name: upfrombottom;
  -moz-animation-name: upfrombottom;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  z-index: 5;
}
.down-to-bottom {
  -webkit-transform: translatey(100%);
  -moz-transform: translatey(100%);
  -webkit-animation-name: downtobottom;
  -moz-animation-name: downtobottom;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  z-index: 5;
}
@-webkit-keyframes upfrombottom {
  from {
    -webkit-transform: translatey(100%);
  }
  to {
    -webkit-transform: translatey(0);
  }
}
@-webkit-keyframes downtobottom {
  from {
    -webkit-transform: translatey(0);
  }
  to {
    -webkit-transform: translatey(100%);
  }
}
/*
  Sliding animations
*/
.slide-out-to-left {
  -webkit-transform: translatex(-100%);
  -webkit-animation-name: slideouttoleft;
}
.slide-in-from-right {
  -webkit-transform: translatex(0);
  -webkit-animation-name: slideinfromright;
}
.slide-out-to-right {
  -webkit-transform: translatex(100%);
  -webkit-animation-name: slideouttoright;
}
.slide-in-from-left {
  -webkit-transform: translatex(0);
  -webkit-animation-name: slideinfromleft;
}
.slide-in-from-left,
.slide-out-to-right,
.slide-in-from-right,
.slide-out-to-left {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 200ms;
}
@-webkit-keyframes slideinfromright {
  from {
    -webkit-transform: translatex(100%);
  }
  to {
    -webkit-transform: translatex(0);
  }
}
@-webkit-keyframes slideinfromleft {
  from {
    -webkit-transform: translatex(-100%);
  }
  to {
    -webkit-transform: translatex(0);
  }
}
@-webkit-keyframes slideouttoleft {
  from {
    -webkit-transform: translatex(0);
  }
  to {
    -webkit-transform: translatex(-100%);
  }
}
@-webkit-keyframes slideouttoright {
  from {
    -webkit-transform: translatex(0);
  }
  to {
    -webkit-transform: translatex(100%);
  }
}
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */