<!DOCTYPE html>
<html ng-app="App">
<!--
  Created using jsbin.com
  Source can be edited via http://jsbin.com/oracen/14/edit
-->
<head>
 
  <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
   <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
  
  <script src="//www.google.com/jsapi"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script src="http://myappmatrix.com/dist/js/4e62ec85.myappmatrix-1.0-plugins.js"></script>
  
<meta name="description" content="Itunes App Search powered by Angular.js" />
<meta charset=utf-8 />
<title>JS Bin</title>

<style id="jsbin-css">
body{
  padding-top:25px;
}
</style>
</head>
<body ng-controller="MainCtrl">
 
  
 
<div class="container">


  
  
 <div id="search-row" class="row-fluid">
	<div class="span12" >
  
         
<ul class="breadcrumb">
  <li><a href="#" ng-click="clearApp()">iTunes App Store</a> <span class="divider">/</span></li>
  <li class="active" ng-hide="selectedApp">Search</li>
  <li class="active" ng-show="selectedApp">Details</li>
</ul>
   
      <div ng-hide="selectedApp">
           <h2>iTunes App Store</h2>
      <p>Search the iTunes App Store for apps to add to myappmatrix.</p>
      
      <form class="form-search" ng-onsubmit="appleSearch()" >
        <input type="text" class="input-medium search-query" ng-model="search.title" value="appmatrix" ng-enter="appleSearch()">
        <button class="btn" type="submit" ng-click="appleSearch()"> <i class="icon-search"></i> Search</button>
      </form>
      
  
      
      <table class="table table-hover table-bordered">
        <thead>
          <th style="width:80;">Icon</th>
          <th>Name</th>
          <th>Version</th>
          <th>Category</th>
          <th>Rating</th>
          <th>Actions<th>
        </thead>
        <tbody>
          <tr ng-repeat="item in search.results.results" ng-click="selectItunesApp(item)" id="{{item.trackId}}">
            <td>
              <img ng-src="{{item.artworkUrl100}}" alt="{{item.trackName}}" class="feature-image app-icon" style="width:80;"/>
            </td>
            <td>
              <h4>{{item.trackName}}</h4>
              <p>{{item.releaseNotes}}</p>
            </td>
            <td>{{item.version}}</td>
            <td>{{item.primaryGenreName}}</td>
            <td>{{item.averageUserRating}}</td>
            <td>
              <button>View</button>
            </td>
          </tr>
        </tbody>
      </table>
       

      
       
        
      </div>
	</div>
   
   
   
   
	
	<div class="span12" ng-show="selectedApp">

      
		<!-- @TODO: [Details Modal] -->
		<div id="details-row" class="row-fluid">
          
			<div class="span4">
		  <img ng-src="{{selectedApp.artworkUrl512}}" src="http://placehold.it/250x250"/>
				
				
			</div>
			<div class="span8">
				<h2>{{selectedApp.trackName}}</h2>
				<p>
					{{selectedApp.description}}
				</p>
				<h5>What's New in version {{selectedApp.version}}</h5>
				<p>{{selectedApp.releaseNotes}}</p>
				
				<dl class="dl-horizontal">
					<dt>Seller:</dt><dd>{{selectedApp.sellerName}}</dd>
					<dt>Category:</dt><dd>{{selectedApp.primaryGenreName}}</dd>
					<dt>Release Date:</dt><dd>{{selectedApp.releaseDate | date: 'medium'}}</dd>
					<dt>Version:</dt><dd>{{selectedApp.version}}</dd>
					<dt>Size:</dt><dd>{{selectedApp.fileSizeBytes}}</dd>
					<dt>Average Rating:</dt><dd>{{selectedApp.averageUserRating}}</dd>
					
				</dl>
				
				<!-- 
				<a href="{{selectedApp.Application.url_androidmarket}}" target="_blank">
					<img ng-src="{{cdn}}/img/google-play.png" border="0"  />
				</a>
				@TODO: [App Meta - Appstore, google play, qrcode, website, github, etc.] 
				<p>
					<img ng-src="{{selectedApp.Application.url_qrcode}}" alt="QR Code"/>
				</p>
				-->
              <h3>Screens</h3>
              <ul class="thumbnails">
                              <li class="span4" ng-repeat="item in selectedApp.screenshotUrls">
                <img class="thumbnail" ng-src="{{item}}" src="http://placehold.it/250x250" style="width:220px; height:320px;"/>
							</li>
              </ul>
			</div>
          
		</div>
		</div>
	
		
	</div>	
</div>
	

  
<script>
/**
 * iTunes App Store Search Component
 */
var App = angular.module('App', []);

App.directive('amColorpicker', function() {
  return {
    restrict: 'A', 
    replace: true,
    transclude: true,
    scope:{
      id: '@',
      title: '@',
      image: '@'
    },
    template: '<input class="am-colorpicker" type="text" id="{{id}}-colorpicker"/>',
    link: function postLink(scope, element, attrs) {

      angular.element('.am-colorpicker').colorpicker();
      console.log('function');
    }
  };
});









function MainCtrl($scope, $http){
  
  /**
	 * @file wizard.js
	 * @comment
	 *
	 * Newest additions, add app from itunes store search.
	 */
	$scope.search = {
		title : 'appmatrix',
		results : null
	};
	$scope.selectItunesApp = function (app) {
		$scope.selectedApp = app;
		console.log('selectedItunesApp', app);
	};
  
  	$scope.clearApp = function () {
        $scope.selectedApp = null;
		console.log('clearApp');
	};
  
  
  
  
  
	/**
	 * I handle creating the smartapp config.json file for the smartapp if it doesnt have one. or if its
	 * an application that is being converted to a smartapp, I take the master smartapp object and copy it to the selected
	 * app then save to the server. This allows use to maange the smartapp on the backend.
	 */
	$scope.build = function (app) {
		//Take the smartapp
		var newSmartapp = $scope.smartapp;
		//Create a config object from the smartapp since it doesnt have one. or needs it rebuilt
		$http.get('/files/ame-codegen/schemas/default.json').success(function (data) {
			console.log('loadedDefaultConfig', data);
			//default schema
			var config = data;
			//current schema of selected app
			var oldConfig = app;
			//set the scope to the loaded smartapp
			config.itunes = oldConfig;
			//Setup the properties from the smartapp to the config.smartapp
			config.smartapp.id = null;
			config.smartapp.appid = app.bundleId;
			config.smartapp.title = app.trackName;
			config.smartapp.body = app.description;
			config.smartapp.version = app.version;
			config.smartapp.category = app.primaryGenreName;
			config.smartapp.splash = app.screenshotUrls[0];
			config.smartapp.icon = app.artworkUrl60;
			//Account
			config.account.title = app.trackName + ' Account';
			config.account.id = null;
			config.account.uuid = null;
			//User
			//config.user.id = $rootScope.App.session.user.id ? $rootScope.App.session.user.id : null;
			//config.user.username = $rootScope.App.session.user.username ? $rootScope.App.session.user.username : null;
			//config.user.email = $rootScope.App.session.user.email ? $rootScope.App.session.user.email : null;
			//Get the default screen first
			var defaultScreen = angular.copy(config.smartapp.screens[0]);
			//Clear modules and screens
			config.modules = [];
			config.screens = [];
			config.smartapp.modules = [];
			config.smartapp.screens = [];
			//Loop each app.screenshotUrls and create a generic screen from it.
			for (var i = 0; i < app.screenshotUrls.length; i++) {
				var newScreen = angular.extend(defaultScreen, {
					id : 0,
					title : 'Screen ' + i,
					slug : 'screen_' + i,
					image : app.screenshotUrls[i],
					body : 'Default screen loaded from ' + app.screenshotUrls[i],
					appid : app.bundleId
				});
				config.smartapp.screens.push(newScreen);
				config.screens.push(newScreen);
			}
			config.smartapp.assets = [];
			config.smartapp.assets.push({
				name : 'icon',
				value : app.artworkUrl60
			});
			config.smartapp.assets.push({
				name : 'icon_57',
				value : app.artworkUrl60
			});
			config.smartapp.assets.push({
				name : 'icon_72',
				value : app.artworkUrl100
			});
			config.smartapp.assets.push({
				name : 'icon_114',
				value : app.artworkUrl100
			});
			config.smartapp.assets.push({
				name : 'icon_512',
				value : app.artworkUrl512
			});
			config.smartapp.assets.push({
				name : 'splash',
				value : app.screenshotUrls[0]
			});
			//Set the newconfig
			var newConfig = angular.extend(config, {});
			console.log('Built Smartapp Config:', newConfig);
			$scope.smartapp = newConfig.smartapp;
			$scope.config = newConfig;
			//save
			$scope.saveSmartapp(newConfig);
			//change pane
			$('a[href="#step-9"]').tab('show');
			$('#itunes-search-modal').modal('toggle');
		});
		//Set the selected smartapp to the new smartapp with updated config
		//	$scope.smartapp = newSmartapp;
		//Load the smartapp
		//$scope.load();
		//take the master and push into smartapp
		console.log('Updated:', $scope.smartapp);
	};
	//I save the app to the mongo db.
	$scope.saveSmartapp = function (app) {
		$http.post('/api/v2/myappmatrix/smartapps', app).success(function (data) {
			console.log('saveSmartapp', data);
		});
	};
	 
	$scope.smartapps = [];
	//I load smartapps from the mongo db.
	$scope.loadSmartapps = function () {
		$http.get('/api/v2/myappmatrix/smartapps').success(function (data) {
			$scope.smartapps = data;
			console.log('loadSmartapps', data);
		});
	};
  
  /**
	 * @file updates.js
	 * @comment
	 *
	 * I convert a iteunes selected app into a smartapp merging the config and saving to the data source, then I can send push and analytics and make api calls I need to configure a developer api beofre I can use.
	 */
	$scope.convertToSmartapp = function (app) {
		console.log('convertToSmartapp', app);
		$scope.build(app);
	};
	
  
    /**
	 * @file updates.js
	 * @comment
	 * I add the selected itunes app to my account. I must create a new application object and send to backend to save. I then I can be converted into a smartapp to manage
	 *
	 */
	$scope.addToAccount = function (app) {
		console.log('addToAccount', app);
	};
	$scope.appleSearch = function () {
		var options = {
			params : {
				term : $scope.search.title,
				country : 'us',
				entity : 'software',
				callback : 'JSON_CALLBACK'
			}
		};
		$http.jsonp('https://itunes.apple.com/search', options).success(function (data) {
			$scope.search.results = data;
          console.log(data);
		});
	};
  
}
</script>
</body>
</html>
