<!DOCTYPE html>
<html ng-app="App">
<!--
  Created using jsbin.com
  Source can be edited via http://jsbin.com/ecakek/4/edit
-->
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  
  
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.3/angular.min.js"></script>


  <link href="http://myappmatrix.com/dist/css/myappmatrix-1.0.css" rel="stylesheet" type="text/css" />
  


<meta name="description" content="Dynamic Form Angular.js Directive" />
<meta charset=utf-8 />
<title>Dynamic Form Angular.js Directive</title>

<style id="jsbin-css">

</style>
</head>
<body ng-controller="MainCtrl" class="container">

  
  
  <div class="row">
  <div class="span12">
     
     
    
    
   
    
     
     
    
    <jps-form
      title="Hello {{username}}."
      options="Form"
      debug="Form.debug"
      visible="true"
    data="data"
      on-cancel="show = false" 
      on-ok="show = false; doSomething()">
        
       Body goes here: {{username}} is {{title}}.
    
            
    
    
    </jps-form>

    
    <button class="btn btn-large" ng-click="show=true">Submit</button>
     
    <hr/>
    <pre>{{data | json }}</pre>
    
    
    
    </div>    
  </div>
  
  
<script>
/**
 * Dynamic Form Angular.js Directive
 */
var App = angular.module('App', []);

/**
 *
 * @name - FormItem
 * @comment - This creates a form control group.
 * @usage
 * <formitem title="Label:" type="text">[Contents]</box>
 *
 */
angular.module('App').directive('formitem', function() {
	return {
		restrict : 'E',
		replace : true,
		transclude : true,
		scope : {
			title : '@',
			name : '@',
			value : '@',
			icon : '@',
			type : '@',
			model : '@',
			help : '@',
			placeholder : '@'
		},
		compile : function compile(tElement, tAttrs, transclude) {
			return {
				pre : function preLink(scope, iElement, iAttrs, controller) {
					//	console.log('pre', scope, iElement, iAttrs);
				},
				post : function postLink(scope, iElement, iAttrs, controller) {
					//	console.log('post', scope, iElement, iAttrs);
				}
			};
		},
		link : function postLink(scope, iElement, iAttrs) {
			//console.log('postLink', scope, iElement, iAttrs);
		},
		template : '<div class="control-group">' + '<div class="control-label"><label for="{{name}}">{{title}} </label></div>' + '<div class="controls" ng-transclude>' + '<input ng-type="{{type}} id="{{id}}" class="input-medium input"/>' + '</div>' + '</div>'
	};
});
 


/*
 Custom dyanmic form that builds based on JSON configuration.
*/
App.directive('jpsForm', function(){
  
  function linkingFn(scope, elm, attrs, ctrl) {
    
    
    
      console.log(attrs);
    
 
    
    
    angular.element('input').bind('click', function(e){
      alert(e);
    });
    
    
    
    
     
    
    
    
    
 
      // change the attribute
 attrs.$set('data', 'new value');
    attrs.$set('ngModel', 'new value');
 
    
      // observe changes to interpolated attribute
      attrs.$observe('ngModel', function(value) {
        console.log('ngModel has changed value to ' + value);
      });
}
  
  
  var tmpl = '<div ng-show="visible">'  
    + ' <legend>{{options.properties.title}}</legend>'
    + '<div class="well">'
    +  '<form class="form-horizontal">'
  +    '<formitem ng-repeat="item in options.properties.fields" title="{{item.title}}" type="text"/>' 
  
  
  
  + '<pre ng-show="{{debug}}">{{options | json}}</pre>'
  
  + '</form>'
    + '</div>'
'  <div class="body" ng-transclude></div>'+
'  <div class="footer">'+
'    <button ng-click="onOk()">Save changes</button>'+
'    <button ng-click="onCancel()">Close</button>'+
' </div>'+
'</div>';
  
  
  
  return {
   scope: {
   // the title uses the data-binding from the parent scope
    title: '@',
     options: '=',
     debug: '=',
     data: '=',
   // create a delegate onOk function
    onOk: '&',              
   // create a delegate onCancel function
    onCancel: '&',
   // set up visible to accept data-binding
    visible: '='            
    },
    template: tmpl,
    replace: true,
    transclude: true,
    restrict:'E',
    link: linkingFn
  };
  
});








function MainCtrl($scope, $http){
  
  $scope.test = 'test';
  

  $scope.Form = {
    debug:true,
    properties: {
      title: 'Dynamic Form',
      body: 'This is a dynamic form',
      fields: [
        { id: 1, title: 'Title:', body: 'This is the hint', type: 'text' },
        { id: 2, title: 'Body:', body: 'This is the hint', type: 'textarea' },
        { id: 3, title: 'Status:', body: 'This is the hint', type: 'select', options: ['Featured', 'Pending', 'Draft', 'Published'] },
        { id: 4, title: 'Image:', body: 'This is the hint', type: 'image' }
      ]
    }
  };
  
  

  $scope.data = {};
  
}
</script>
<script src="http://static.jsbin.com/js/render/edit.js"></script>
<script>jsbinShowEdit({"root":"http://static.jsbin.com","csrf":"usNTN5wOmkkZl8nt/iYRy7uN"});</script>
<script src="http://static.jsbin.com/js/vendor/eventsource.js"></script>
<script src="http://static.jsbin.com/js/spike.js"></script>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1656750-34']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
})();
</script>
</body>
</html>
