<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Angular-CMS</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Develop <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Getting Started</a>
						</li>
						<li>
							<a href="#">Extending</a>
						</li>
						<li>
							<a href="#">Contributing</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">
							Documentation
						</li>
						<li>
							<a href="#">Concept Overview</a>
						</li>
						<li>
							<a href="#">API Reference</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- <form class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" placeholder="Email" class="form-control">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" class="form-control">
				</div>
				<button type="submit" class="btn btn-success">
					Sign in
				</button>
			</form> -->
		</div><!--/.navbar-collapse -->
	</div>
</div>