<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">angular-cms</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/docs">Docs</a>
				</li>
				<li>
					<a href="#/admin">Admin</a>
				</li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Develop <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#/welcome">Getting Started</a>
						</li>
						<li>
							<a href="#">Extending</a>
						</li>
						<li>
							<a href="#">Contributing</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">
							Documentation
						</li>
						<li>
							<a href="#/docs/overview">Concept Overview</a>
						</li>
						<li>
							<a href="#/docs/api">API Reference</a>
						</li>
					</ul>
				</li>
			</ul>
		
		<!-- If App.session.user -->
		 <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
              	<img src="https://www.gravatar.com/avatar/b4c0fecb38a48d57acf43350ee318107?s=20" class="img-circle">
              	<span>jonniespratley</span>
              	<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#/profile">My Profile</a>
                </li>
                <li>
                  <a href="#/settings">Settings</a>
                </li>
                <li>
                  <a href="#/help">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#/login?action=logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- if !App.session.user -->
          <form class="navbar-form navbar-right hidden-sm hidden-xs hidden-md hidden">
			<div class="form-group">
			<input type="text" placeholder="Email" class="form-control">
			</div>
			<div class="form-group">
			<input type="password" placeholder="Password" class="form-control">
			</div>
			<button type="submit" class="btn btn-success">
			Sign in
			</button>
		</form> 

		</div><!--/.navbar-collapse -->
	</div>
</div>