<div class="messages"></div>
<button class="btn btn-primary btn-connect">Connect</button>
<button class="btn btn-danger btn-disconnect">Disconnect</button>
<br/>
<br/>
<form class="form-inline" role="form">
	<div class="form-group">
		<input id="ws-endpoint" type="text" class="form-control" placeholder="ws://endpoint" ng-model="App.settings.socket.endpoint"/>
	</div>
	<div class="form-group">
		<input id="ws-protocol" type="text" class="form-control" placeholder="Protocol"  ng-model="App.settings.socket.protocol"/>
	</div>
	<div class="form-group">
		<input id="ws-msg" type="text" class="form-control" placeholder="Enter message here..." ng-model="msg"/>
	</div>
	<button class="btn btn-success btn-message" type="button" ng-click="send(msg)">Send</button>
</form>
<br/>
<legend>Log</legend>
<textarea class="form-control" rows="10"></textarea>

<div class="container">
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
					class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Socket.io Tester</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="input-group">
		<input type="text" class="form-control" name="input" id="input" ng-model="App.input"/>
		<a class="input-group-addon btn btn-primary" ng-click="App.send(App.input)">Send</a>
	</div>
	<br/>


	<div class="panel panel-default">
		<div class="panel-heading">
			<b> Output</b>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
					<tr>
						<th>Client</th>
						<th>Message</th>
						<th>Time</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in App.messages">
						<td>{{item.id}}</td>
						<td>{{item.message}}</td>

						<td>{{item.datetime | date:'mediumTime'}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer clearfix">
			<a class="btn pull-right btn-default clear" ng-click="App.clear()">Clear</a>
		</div>
	</div>

</div>
