<div class="view">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
			<div class="well well-sm sidebar-nav">
			<ul class="nav">
              <li class="nav-header">
              <i class="glyphicon glyphicon-picture"></i> Appearance</li>
              <li class="active">
                <a href="#">Themes</a>
              </li>
              <li>
                <a href="#">Customize</a>
              </li>
              <li>
                <a href="#">Widgets</a>
              </li>
              <li>
                <a href="#">Menus</a>
              </li>
              <li class="nav-header"> <i class="glyphicon glyphicon-cog"></i> Settings</li>
              <li>
                <a href="#">General</a>
              </li>
              <li>
                <a href="#">Permissions</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li class="nav-header"> <i class="glyphicon glyphicon-user"></i> Users</li>
              <li>
                <a href="#">All Users</a>
              </li>
              <li>
                <a href="#">Add User</a>
              </li>
            </ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
		<div class="col-xs-12 col-sm-10">
			<p class="pull-left visible-xs">
				<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
					Toggle nav
				</button>
			</p>
			<div class="alert alert-info">
				<p>
					This is an example to show the potential of an offcanvas layout pattern in Bootstrap.&nbsp;
				</p>
			</div>
			<ul class="row list-unstyled sortable">
				<li class="col-6 col-sm-6 col-lg-4">
					<cms-panel id="panel" title="Panel">
						Content
					</cms-panel>
				</li><!--/span-->
				<li class="col-6 col-sm-6 col-lg-4">
					<cms-panel id="panel" title="Panel">
						Content
					</cms-panel>
				</li><!--/span-->
				<li class="col-6 col-sm-6 col-lg-4">
					<cms-panel id="panel" title="Panel">
						Content
					</cms-panel>
				</li><!--/span-->
				<li class="col-6 col-sm-6 col-lg-4">
					<cms-panel id="panel" title="Panel">
						Content
					</cms-panel>
				</li><!--/span-->
				
			</ul>
			<!--/row-->
		</div>
		<!--/span-->
	</div>

</div>
<!--/.container-->