
    <div class="container view">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well well-sm sidebar-nav">
            <ul class="nav">
              <li class="nav-header">
                <i class="glyphicon glyphicon-picture"></i> Appearance</li>
              <li class="active">
                <a href="#">Themes</a>
              </li>
              <li>
                <a href="#">Customize</a>
              </li>
              <li>
                <a href="#">Widgets</a>
              </li>
              <li>
                <a href="#">Menus</a>
              </li>
              <li class="nav-header">
                <i class="glyphicon glyphicon-cog"></i> Settings</li>
              <li>
                <a href="#">General</a>
              </li>
              <li>
                <a href="#">Permissions</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li class="nav-header">
                <i class="glyphicon glyphicon-user"></i> Users</li>
              <li>
                <a href="#">All Users</a>
              </li>
              <li>
                <a href="#">Add User</a>
              </li>
            </ul>
          </div>
          <!--/.well -->
        </div>
        <!--/span-->
        <div class="col-xs-12 col-sm-10">
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button></p>
          <div class="well">
            <button type="button" class="close" aria-hidden="true">
              <small>&times;</small>
            </button>
            <h1>Welcome to Angular-CMS!</h1>
            <p>Here are some links to help get you started:</p>
<br/>
            <div class="row">
              <div class="col-md-4">
                <p><strong>Get Started</strong></p>
                <p><a href="#" class="btn btn-primary btn-lg">Customize Your Site</a></p>
              </div>
              <div class="col-md-4">
                <p><strong>Next Steps</strong></p>
                <p><i class="glyphicon glyphicon-edit"></i> <a href="#"> Add some page</a></p>
                <p><i class="glyphicon glyphicon-upload"></i> <a href="#"> Upload media</a></p>
              </div>
              <div class="col-md-4">
                <p><strong>More Actions</strong></p>
                <p><i class="glyphicon glyphicon-user"></i> <a href="#"> Manage Users</a></p>
                <p><i class="glyphicon glyphicon-cog"></i> <a href="#"> Configure Settings</a></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-6">
              <div class="panel panel-default">
                <header class="panel-heading">Overview</header>
                <section class="panel-body">
                  <div class="row">
                    <div class="col-6 col-sm-6">
                      <legend>Content</legend>
                      <ul>
                        <li>1 Page</li>
                        <li>1 Category</li>
                        <li>0 Tags</li>
                        <li>0 Files</li>
                      </ul>
                    </div>
                    <div class="col-6 col-sm-6">
                      <legend>System</legend>
                      
                    </div>
                  </div>
                  <p>You are using <strong>Angular-CMS 0.1.0</strong></p>
                </section>
              </div>
              <p></p>
            </div>
            <!--/span-->
            <div class="col-6 col-sm-6 col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">Quick Post
                </div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="Enter title here...">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="controls">
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="Tags (separate with commas)">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="panel-footer">
                  <button class="btn btn-default" type="button">Save Draft</button>
                  <button class="btn btn-default" type="reset">Reset</button>
                  <button class="btn btn-primary pull-right">Publish</button>
                </div>
              </div>
            </div>
            <!--/span-->
            <!--/row-->
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
