
        <div class="row">
          <div class="col-12">
          
           <div class="well">
            <button type="button" class="close" aria-hidden="true">
              <small>&times;</small>
            </button>
            <h1>Welcome to Angular-CMS!</h1>
            <p>Here are some links to help get you started:</p>
            <br/>
            <div class="row">
              <div class="col-md-4">
                <p><strong>Get Started</strong></p>
                <p><a href="#" class="btn btn-primary btn-lg">Customize Your Site</a></p>
              </div>
              <div class="col-md-4">
                <p><strong>Next Steps</strong></p>
                <p><i class="glyphicon glyphicon-edit"></i> <a href="#"> Add some page</a></p>
                <p><i class="glyphicon glyphicon-upload"></i> <a href="#"> Upload media</a></p>
              </div>
              <div class="col-md-4">
                <p><strong>More Actions</strong></p>
                <p><i class="glyphicon glyphicon-user"></i> <a href="#"> Manage Users</a></p>
                <p><i class="glyphicon glyphicon-cog"></i> <a href="#"> Configure Settings</a></p>
              </div>
            </div>
          </div>
          </div>
        </div>
          
           <div class="row">
             <div class="col-md-6"></div>
             <div class="col-md-6">
               <div class="panel panel-default">
                <div class="panel-heading">Quick Post
                </div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="Enter title here...">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="controls">
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="Tags (separate with commas)">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="panel-footer">
                  <button class="btn btn-default" type="button">Save Draft</button>
                  <button class="btn btn-default" type="reset">Reset</button>
                  <button class="btn btn-primary pull-right">Publish</button>
                </div>
              </div>
               
             </div>
           </div>
           <div class="row">
              <div class="col-md-6"></div>
               <div class="col-md-6"></div>
           </div>
        </div>
