<div class="slim-view">
	<form id="forgot-form" class="form-forgot well well-sm" ng-submit="forgot(user)" name="ForgotForm">
		<header class="img-logo center avatar">
			<img src="images/avatar_2x.png" class="img-circle"/>
		</header>

		<div class="alert alert-danger" ng-show="error">
			<strong>Error {{error.code}}!</strong> {{error.message}} <a class="close" data-dismiss="alert" href="" aria-hidden="true">&times;</a>
		</div>
		<div class="form-group">
			<input class="form-control" type="email" placeholder="Email" ng-model="user.email" name="email" required autofocus>
		</div>
		<button class="btn btn-primary btn-block" type="submit" ng-disabled="!user.email">
			Reset Password
		</button>
	</form>
	<hr/>
	<div class="clearfix">
		<span class="pull-left"> Back to <a href="#/login">Login</a> </span>
		<span class="pull-right"><a href="#/register">Create an account</a> </span>
	</div>
</div>