
  <nav class="navbar navbar-inverse navbar-static-top container" role="navigation">
     <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{App.sitetitle}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-repeat="item in App.menu.pub" ng-include src="'menu-item.html'"></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li ng-hide="App.session.authorized">
              <a class="login-btn" href="#/login">Login</a>
            </li>
        </ul>
      </div>    
  </nav>



<script id="menu-item.html" type="text/ng-template">
	<a ng-href="#{{item.href}}">
		<i class="fa fa-1x fa-{{item.icon}}"></i>
		{{item.title}}
	</a>
</script>