
<div class="row">
  <div class="col-md-12 col-lg-12">
  
   <div class="well well-sm">
    <button type="button" class="close" aria-hidden="true">
      <small>&times;</small>
    </button>
    <h1>Welcome to Angular-CMS!</h1>
    <p>Here are some links to help get you started:</p>
    <br/>
     	<div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 hidden-xs">
            <p><strong>Get Started</strong></p>
            <p><a href="#/themes" class="btn btn-primary btn-lg hidden-sm">Customize Your Site</a></p>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-4">
            <p><strong>Next Steps</strong></p>
            <p><i class="glyphicon glyphicon-edit"></i> <a href="#/plugins"> Add some plugins</a></p>
            <p><i class="glyphicon glyphicon-upload"></i> <a href="#/media"> Upload media</a></p>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-4">
            <p><strong>More Actions</strong></p>
            <p><i class="glyphicon glyphicon-user"></i> <a href="#/users"> Manage Users</a></p>
            <p><i class="glyphicon glyphicon-cog"></i> <a href="#/settings"> Site Settings</a></p>
          </div>
        </div>
  </div>




	<h2>Overview</h2>

	<p>
		Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
	</p>

	<h3>Plugins</h3>
	<pre>
		%3Cdiv+class%3D%22btn-group%22%3E%0A%09++%3Cbutton+class%3D%22btn%22%3E1%3C%2Fbutton%3E%0A%09++%3Cbutton+class%3D%22btn%22%3E2%3C%2Fbutton%3E%0A%09++%3Cbutton+class%3D%22btn%22%3E3%3C%2Fbutton%3E%0A%09%3C%2Fdiv%3E
	</pre>

</div>

</div>