<div class="container login  margin-top-lg">
	<form class="form-signin clearfix well well-sm" ng-submit="login(user)">
		<header class="img-logo img-thumbnail">
			<img src="http://placehold.it/280x100&text=Logo" alt="Logo">
		</header>
		<div class="input-group margin-bottom-sm">
			<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
			<input class="form-control username" name="username" type="text" placeholder="Username" ng-model="user.username">
		</div>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
			<input class="form-control password" name="password" type="password" placeholder="Password" ng-model="user.password">
		</div>
		<br/>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		<hr>
		<p>
			<span class=""><input type="checkbox" value="remember-me" ng-model="user.rember"> Stay signed in</span>
			<span class="pull-right"><a href="#/register">Create an account</a></span>
		</p>
	</form>
</div>
