<br/>
<div class="login">
    <form id="login-form" class="form-login clearfix well well-sm" ng-submit="login(user)">
        <header class="img-logo center avatar">
            <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle"/>
        </header>

        <div class="alert alert-danger" ng-show="error">
            <strong>Error {{error.code}}!</strong> {{error.message}}
            <a class="close" data-dismiss="alert" href="" aria-hidden="true">&times;</a>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" ng-model="user.username" required autofocus>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
        </div>
        <button class="btn btn- btn-primary btn-block" type="submit">Sign in</button>
        <hr/>

	        <span class="">
				<label><input type="checkbox" value="true" ng-model="user.remember"> Remember info?</label>
	        </span>
        <span class="pull-right"><a href="#/forgot">Forgot password?</a></span>

    </form>
    <br/>

    <p class="center">
        <a href="#/register">Create an account</a>
    </p>
</div>
  
