<div id="main" class="view">
	<div class="jumbotron">
			<div class="container">
					<h1>A Lightweight CMS</h1>
					<p>
						Use this as a starting point when creating a content management system of some sort.
					</p>
					<p>
						<a class="btn btn-primary btn-lg" href="/docs">Learn more &raquo;</a>
					</p>
			</div>
	</div>

    <div class="container">
      	<div class="row clearfix">
		       <!-- ngRepeat: item in HomePage.features -->
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-html5.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-html5.png">
		          <h4 class="ng-binding">HTML5</h4>
		          <p class="ng-binding">Using HTML5 in every way to make a better user experience.</p>
		        </div><!-- end ngRepeat: item in HomePage.features -->
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-angular.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-angular.png">
		          <h4 class="ng-binding">AngularJS</h4>
		          <p class="ng-binding">The client-side framework of choice is Angular, its a full-stack.</p>
		        </div><!-- end ngRepeat: item in HomePage.features --><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-bootstrap.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-bootstrap.png">
		          <h4 class="ng-binding">Twitter Bootstrap</h4>
		          <p class="ng-binding">The client-side UI of choice is Twitter Bootstrap 3.0.</p>
		        </div><!-- end ngRepeat: item in HomePage.features --><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-phantomjs.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-phantomjs.png">
		          <h4 class="ng-binding">PhantomJS</h4>
		          <p class="ng-binding">Fully testable with Jasmine Karma Runner Unit e2e with PhantomJS.</p>
		        </div><!-- end ngRepeat: item in HomePage.features --><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-nodejs.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-nodejs.png">
		          <h4 class="ng-binding">NodeJS</h4>
		          <p class="ng-binding">The server of choice is NodeJS, its fast and scalable.</p>
		        </div><!-- end ngRepeat: item in HomePage.features --><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-mongodb.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-mongodb.png">
		          <h4 class="ng-binding">MongoDB</h4>
		          <p class="ng-binding">The database of choice is Mongo, its fast and scalable.</p>
		        </div><!-- end ngRepeat: item in HomePage.features --><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-coffeescript.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-coffeescript.png">
		          <h4 class="ng-binding">CoffeeScript</h4>
		          <p class="ng-binding">Built with a JavaScript preprocessor called CoffeeScript</p>
		        </div><!-- end ngRepeat: item in HomePage.features --><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-yeoman.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-yeoman.png">
		          <h4 class="ng-binding">Yeoman</h4>
		          <p class="ng-binding">Using Yeoman for a better workflow and generators.</p>
		        </div><!-- end ngRepeat: item in HomePage.features --><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ng-scope" >
		          <img ng-src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-grunt.png" class="feature pull-left img-circle" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-grunt.png">
		          <h4 class="ng-binding">GruntJS</h4>
		          <p class="ng-binding">Build process managed with GruntJS JavaScript task runner.</p>
		        </div><!-- end ngRepeat: item in HomePage.features -->
		      </div>
      <hr>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>
    <!-- /container -->
</div>