<div id="main" class="view">
	<div class="jumbotron">
			<div class="container">
					<h1>A Lightweight CMS</h1>
					<p>
						Use this as a starting point when creating a content management system of some sort.
					</p>
					<p>
						<a class="btn btn-primary btn-lg" href="/docs">Learn more &raquo;</a>
					</p>
			</div>
	</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <img src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-mongodb.png" class="feature pull-left img-circle">
          <h3>MongoDB</h3>
          <p>The database of choice is Mongo, its fast, easy and scalable.</p>
          <p></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <img src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-html5.png" class="feature pull-left img-circle">
          <h3>HTML5</h3>
          <p>Using HTML5 in every way to make a better user experience.</p>
          <p></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <img src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-angular.png" class="feature pull-left img-rounded">
          <h3>AngularJS</h3>
          <p>The client-side framework of choice is Angular, its a full-stack, just what we need.</p>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <img src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-customize.png" class="feature pull-left img-rounded">
          <h3>Customizable</h3>
          <p>Built with a scalable NoSQL database, means scaling this cms is no problem.</p>
          <p></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <img src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-layout.png" class="feature pull-left img-rounded">
          <h3>Responsive</h3>
          <p>The client-side ui of choice is Twitter Bootstrap, its updated and clean.</p>
          <p></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <img class="feature pull-left img-rounded" src="https://dl.dropboxusercontent.com/u/26906414/angular-cms/img/feature-nodejs.png">
          <h3>NodeJS</h3>
          <p>The server of choice is Node, its JavaScript, its fast and scalable.</p>
          <p></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>
    <!-- /container -->
</div>