<!doctype html>

<html>
  
  <head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-static-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">angular-cms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">              <img src="https://www.gravatar.com/avatar/b4c0fecb38a48d57acf43350ee318107?s=20" class="img-circle">              <span>jonniedollas</span>                              <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">My Profile</a>
                </li>
                <li>
                  <a href="#">Settings</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.navbar -->
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-3 col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well well-sm sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li>
                <a href="#">Profile</a>
              </li>
              <li class="nav-header">Admin</li>
              <li>
                <a href="#">Plugins</a>
              </li>
              <li>
                <a href="#"> Widgets</a>
              </li>
              <li class="active">
                <a href="#">Media</a>
              </li>
              <li class="">
                <a href="#">Themes</a>
              </li>
              <li>
                <a href="#">Users</a>
              </li>
              <li>
                <a href="#">Settings</a>
              </li>
            </ul>
          </div>
          <!--/.well -->
        </div>
        <!--/span-->
        <div class="col-xs-12 col-sm-9 col-md-10">
          <h1><i class="fa fa-1x fa-upload"></i> Media</h1>
          <hr>
          <div class="drop-container">
            <h4 data-ds-editmark="true">Drop files here</h4>
            <p><span>or</span></p>
            <button class="btn btn-default">Select files</button>
          </div>
          <div class="media">
            <a class="pull-left" href="#">    <img class="media-object img-polaroid" src="http://placehold.it/80">  </a>
            <div class="media-body">
              <h4 class="media-heading">File being uploaded...</h4>
              <p>This is the content for your media.</p>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
    </div>
  </body>

</html>