
<h1><i class="fa fa-1x fa-upload"></i> Media</h1>
<hr>
  <div class="clearfix">
    <cms-uploader
    image="http://placehold.it/100x100"
    name="image"
    maxheight="400"
    maxwidth="400"
    multiple="true"
    dragdrop="true"
    btnupload="Upload"
    btncrop="Crop" cropper="true" collection="imageCollection" showthumbs="true" litmpl="#liTmpl" showtable="true"
    showlist="true" filelimit="10" sizelimit="5000" action="/api/v2/upload"></cms-uploader>


    <ul class="list-unstyled uploads hidden">
      <li ng-repeat="upload in uploads">
        <cms-upload ng-model="upload">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-polaroid"
                ng-src="/cms-content/uploads/{{upload.filename}}"
                src="http://placehold.it/100">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{upload.filename}}</h4>
              <p>This is the content for your media.</p>
              <div class="progress active progress-striped progress-info">
                <div class="progress-bar"></div>
              </div>
            </div>
          </div>
        </cms-upload>
      </li>

    </ul>
    <div class="col-sm-12">
      <div class="btn-toolbar clearfix">
        <div class="pull-left btn-group">
          <button class="btn-default">
            <i class="fa fa-list"></i>
          </button>
          <button class="btn-default">
            <i class="fa fa-th-large"></i>
          </button>
        </div>
        <div class="pull-right">
          <input type="text" class="input-sm" placeholder="Search">
        </div>
      </div>

      <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
          <tr>
            <th class="td-checkbox"><input type="checkbox"></th>
            <th>File</th>
            <th>Type</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="file in uploads">
            <td>
              <input type="checkbox" ng-model="file._id">
            </td>
            <td>{{file.filename}}</td>
            <td>{{file.type}}</td>
            <td>{{file.created}}</td>
          </tr>
        </tbody>
      </table>

      <ul class="list-inline thumbnails">

        <div class="col-sm-3" ng-repeat="file in uploads">
          <div class="thumbnail">

            <img src="http://placehold.it/300x300"
              ng-src="/cms-content/uploads/{{file.filename}}"
              alt="...">
          </div>
        </div>
      </ul>

    </div>
  </div><br>
