
<div class="page-container">
	<div class="">
		<cms-header title="Pages" icon="folder-open"></cms-header>
      <section>
        <div class="row">
          <div class="col-md-12">




            <table class="table table-condensed table-hover table-striped clearfix">
              <thead>
                <tr>
                  <th class="th-checkbox"><input type="checkbox" class="checkbox"></th>
                  <th>Title</th>
									<th>Date</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="page in pages">
                  <td><input type="checkbox" value="{{page._id}}"/></td>
                  <td>
										<a href="" ng-click="selectPage(page)" title="{{page.title}}">{{page.title}}</a>
										<span class="label label-default">{{page.publish}}</span>
									</td>
									<td>{{page.created | date:'medium'}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Enter title here" ng-model="page.title">
          <span class="help-block">
						<strong>Permlink:</strong> http://{{App.baseurl}}/?page_id={{page.slug}}
						</span>
          <textarea class="form-control" rows="5" ng-model="page.body"></textarea>
        </div>
        <div class="col-sm-4">
          <ul class="list-unstyled">
						<li>Status: {{page.status}}</li>
					</ul>
					<button href="#" class="btn btn-danger btn-block btn-xs" ng-click="remove(page)">Move to trash</button>
					<button class="btn pull-right btn-primary btn-block" ng-click="save(page)">Save</button>
        </div>
      </div>
    </div>
    <!--/span-->
    <!--/row-->
