
          <h1><i class="fa fa-1x fa-folder-open"></i> Plugins</h1>
          <hr>
          
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>Plugin</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Google Chart Widgets</td>
                  <td>
                    This plugin brings Google Charts to the dashboard, configurable settings to visualize any content type.
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Twitter Widget</td>
                  <td>This plugin enables your Twitter feed on your dashboard and public stream widgets for your pages.</td>
                </tr>
                <tr>
                  <td><input type="checkbox"/></td>
                  <td>Rich Content Editor</td>
                  <td>This plugin enables all text area inputs in the content editor view will be a Rich Text Editor.</td>
               </tr>
               <tr>
                  <td><input type="checkbox"/></td>
                  <td>
                    ACL User Management
                  </td>
                  <td>
                    This plugin enables ACL manage for the users of the CMS, easily configure actions to user roles to more control.
                  </td>
               </tr>
              </tbody>
            </table>
          
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
          </div>
        </div>
