<!doctype html>

<html>
  
  <head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-static-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">angular-cms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">              <img src="https://www.gravatar.com/avatar/b4c0fecb38a48d57acf43350ee318107?s=20" class="img-circle">              <span>jonniedollas</span>                              <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">My Profile</a>
                </li>
                <li>
                  <a href="#">Settings</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.navbar -->
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-3 col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well well-sm sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li>
                <a href="#">Profile</a>
              </li>
              <li class="nav-header">Admin</li>
              <li class="active">
                <a href="#">Plugins</a>
              </li>
              <li>
                <a href="#"> Widgets</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Themes</a>
              </li>
              <li>
                <a href="#">Users</a>
              </li>
              <li>
                <a href="#">Settings</a>
              </li>
            </ul>
          </div>
          <!--/.well -->
        </div>
        <!--/span-->
        <div class="col-xs-12 col-sm-9 col-md-10">
          <h1><i class="fa fa-1x fa-folder-open"></i> Plugins</h1>
          <hr>
          
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>Plugin</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Google Chart Widgets</td>
                  <td>
                    This plugin brings Google Charts to the dashboard, configurable settings to visualize any content type.
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Twitter Widget</td>
                  <td>This plugin enables your Twitter feed on your dashboard and public stream widgets for your pages.</td>
                </tr>
                <tr>
                  <td><input type="checkbox"/></td>
                  <td>Rich Content Editor</td>
                  <td>This plugin enables all text area inputs in the content editor view will be a Rich Text Editor.</td>
               </tr>
               <tr>
                  <td><input type="checkbox"/></td>
                  <td>
                    ACL User Management
                  </td>
                  <td>
                    This plugin enables ACL manage for the users of the CMS, easily configure actions to user roles to more control.
                  </td>
               </tr>
              </tbody>
            </table>
          
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
          </div>
        </div>
        <!--/span-->
      </div>
    </div>
  </body>

</html>