

          <h1><i class="fa fa-1x fa-user"></i> My Profile</h1>
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <form class="form-horizontal" ng-submit="updateProfile(user)">
				<cms-form-group label="Email">
					<input type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
				</cms-form-group>
				
				<cms-form-group label="Name">
					<input type="text" class="form-control" placeholder="Name" ng-model="user.name" required>
				</cms-form-group>
				<cms-form-group label="Summary">
					<textarea class="form-control" placeholder="Enter 200 words or less..." ng-model="user.meta.summary"></textarea>
				</cms-form-group>
				<cms-form-group label="Cookies">
					<input type="checkbox" value="true" ng-model="user.remember" class="checkbox">
				</cms-form-group>
                <div class="form-group tr">
                  <button class="btn btn-default">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save</button>
                </div>
              </form>
            </div>
			<div class="col-sm-5">
              <aside class="profile-pic center">
                <img 
					src="http://jonniespratley.me/assets/jonnie/avatar.png" 
					ng-src="{{user.image}}"
					class="img-thumbnail" height="80">
              </aside>
			</div>
 