<cms-header icon="user" title="My Profile"></cms-header>
<div class="profile-message"></div>
<div class="row">
	<div class="col-sm-8">

		<form class="form-horizontal" ng-submit="update(user)">
			<div fg-form
					 fg-form-data="user"
					 fg-schema="profileSchema">
			</div>

			<div class="pull-right">
				<button class="btn btn-default">
					Cancel
				</button>
				<button class="btn btn-primary" type="submit">
					Save
				</button>
			</div>
		</form>
	</div>
	<div class="col-sm-4">
		<aside class="profile-pic center">
			<div class="well well-sm">
				<img ng-src="{{ user.email | gravatar }}" alt="{{App.session.user.username}}" class="img-thumbnail"/>

				<br/>
				<small> To change visit <a href="gravatar.com" target="_blank">gravatar.com</a></small>
			</div>

		</aside>
	</div>
