<div class="container login">
	<form class="form-forgot well well-sm">
		<div class="form-group">
			<img src="http://placehold.it/300x125&text=Logo" alt="Logo" class="logo">
		</div>
		<div class="form-group">
			<input type="email" class="form-control" placeholder="Email" disabled>
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="New Password">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Confirm Password">
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Update Password
		</button>
		<hr>
	</form>
</div>
