
<div class="">
<div class="col-12">
<h1><i class="fa fa-1x fa-picture-o"></i> Themes</h1>
<hr/>
</div>
<div class="well well-sm">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-xs-4">
			<img src="http://placehold.it/400x300"
				ng-src="{{App.settings.cdn}}/bootswatch.com/{{App.theme | lowercase}}/thumbnail.png"
				class="img-thumbnail">
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<small class="text-muted">Current Theme</small>
				<h2>{{App.theme}} <small>1.0</small></h2>
				<p>This is going to be meta data for the theme.</p>
				<p class="text-muted">
					<span>OPTIONS:</span>
					<a href="#">Widgets</a> |
					<a href="#">Menus</a> |
					<a href="#">Header</a>
				</p>
			</div>
		</div><!--/row-->
</div><!--/well-->
<!-- @TODO: [Themes List] -->
<div class="row cms-themes">
	<div class="col-sm-6 col-md-4 col-xs-6 theme-item" ng-repeat="theme in App.options.themes">
		<a class="thumbnail theme" href=""
			ng-click="selectTheme(theme);"
			title="Change to {{theme}} theme"
			ng-cloak>
			  <img alt="{{theme}}"
					ng-src="{{App.settings.cdn}}/bootswatch.com/{{theme | lowercase}}/thumbnail.png"
					src="http://placehold.it/300x150">
		      <div class="caption hidden">
		        <h3>{{theme}}</h3>
		      </div>
		</a>
	</div>
</div>
