
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button></p>
          <div class="row">
            <div class="col-12">
              <div class="panel panel-default">
                <header class="panel-heading">Users</header>
                <section class="panel-body"></section>
                <div class="panel-footer clearfix">
                  <button class="btn btn-primary pull-right">Add New User</button>
                </div>
              </div>
              <p></p>
            </div>
            <!--/span-->
            <!--/span-->
            <!--/row-->
   