
          <h1><i class="fa fa-1x fa-puzzle-piece"></i> Widgets</h1>
          <hr>
          <section>
            <div class="row">
              <div class="col-sm-8">
                <section>
                  <div class="row">
                    <div class="col-sm-12 placeholder tc">NAVBAR
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-8 placeholder tc">CONTENT
                    </div>
                    <div class="col-sm-4 placeholder tc">SIDEBAR
                    </div>  
                    </div>
                    
                    <div class="row">
                    <div class="col-sm-12 placeholder tc">FOOTER
                    </div>  
                    </div>
                    
                
                </section>
              </div>
              <div class="col-sm-4">
                <ul class="nav nav-stacked nav-list">
                  <li class="nav-header">Available Widgets</li>
                  <li class="active">
                    <a href="#">RSS Feed</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Photo Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
